{% extends "SAE_GA/main.html" %}

{% block title %} Page d'accueil des étudiants{% endblock %} {% block content %}
<h1>Bienvenue sur la page d'accueil des étudiants</h1>
<article>
<ol>
    {% for l in liste %}
        <li>
            {{l}}
            <img class="etudiant" src="{{l.photo.url}}" alt="photo de l'étudiant">
            <div class="crud">
                <a href="/SAE_GA/Etudiant/affiche/{{l.id}}">Afficher</a>
                <!-- <a href="/SAE_GA/Etudiant/update/{{l.id}}">Modifier</a> 
                <a href="/SAE_GA/Etudiant/delete/{{l.id}}">Supprimer</a>-->
            </div>
        </li>

    {% endfor %}
</ol>
<footer class="crud">
    <!--<a href="/SAE_GA/Etudiant/ajout">Ajouter un étudiants</a>-->
    <a href="/SAE_GA/index">Accueil</a>
</footer>
</article>

{% endblock %}