{% extends "SAE_GA/main.html" %}

{% block title %} Page d'accueil des étudiants{% endblock %} {% block content %}
<h1>Bienvenue sur la page d'accueil des étudiants</h1>

<footer><a href="/SAE_GA/Etudiant/ajout">Ajouter un groupe étudiants</a></footer>
<ol>
    {% for l in liste %}
        <li>{{l}}<a href="/SAE_GA/Etudiant/affiche/{{l.id}}">Afficher les informations de l'étudiant</a> <a
                href="/SAE_GA/Etudiant/update/{{l.id}}">Actualiser les informations de l'étudiant</a><a href="/SAE_GA/Etudiant/delete/{{l.id}}">Effacer les informations de l'étudiant</a></li>

    {% endfor %}
</ol>


{% endblock %}