{% extends "SAE_GA/main.html" %}

{% block title %}Affichage {{etudiant.nom}} {{etudiant.prenom}} {% endblock %} {% block content %}
    <article>
        <p>{{etudiant.nom|upper}} {{etudiant.prenom}} est dans le groupe {{etudiant.groupe}}.</p>
        <p>E-mail : {{etudiant.email}}</p>
        <p>id : {{etudiant.id}}</p>
        <p>Photo :</p>
        <img class="affiche" src="{{etudiant.photo.url}}" alt="photo de l'étudiant">
        <footer class="crud"><a href="/SAE_GA/Etudiant/accueil">Liste étudiants</a></footer>
    </article> 
{% endblock %}