{% extends "SAE_GA/main.html" %}

{% block title %} Formulaire de saisie d'un d'étudiant{% endblock %} {% block content %}
<article>
    <h1>Saisie d'un nouveau étudiants :</h1>
    {% if id is None %}
        <form action="/SAE_GA/Etudiant/traitement" method="post" enctype="multipart/form-data">
    {% else %}
        <form action="/SAE_GA/Etudiant/updatetraitement/{{id}}/" method="post" enctype="multipart/form-data">
    {% endif %}
    {% csrf_token %}
    {{form.as_ul}}
            <input type="submit" value="envoyez les données de l'étudiant">
        </form>
        <footer class="crud"><a href="/SAE_GA/Etudiant/accueil">Liste étudiants</a></footer>
</article>
{% endblock %}