{% extends "SAE_GA/main.html" %}

{% block title %} Formulaire de saisie d'un cours{% endblock %} {% block content %}
<article>
<h1>Saisie d'un nouveau cours :</h1>
    {% if id is None %}
        <form action="traitement" method="post">
    {% else %}
        <form method="post" action="/SAE_GA/Cours/updatetraitement/{{id}}/">
    {% endif %}
    {% csrf_token %}
    {{form.as_ul}}
    <input type="submit" value="envoyer les données du cours">
</form>
<footer class="crud"><a href="/SAE_GA/Cours/accueil">Liste des xours</a></footer>
</article>

{% endblock %}