{% extends "SAE_GA/main.html" %}

{% block title %} Page d'accueil des enseignants{% endblock %} {% block content %}
<h1>Bienvenue sur la page d'accueil des enseignants</h1>
<article>
<ol>
    {% for l in liste %}
    <li> 
        {{l}} 
        <div class="crud">
            <a href="/SAE_GA/Enseignant/affiche/{{l.id}}">Afficher</a>
            <a href="/SAE_GA/Enseignant/update/{{l.id}}">Modifier</a>
            <a href="/SAE_GA/Enseignant/delete/{{l.id}}">Supprimer</a>
        </div>
    </li>
    
    {% endfor %}
</ol>
<footer class="crud">
    <a href="/SAE_GA/Enseignant/ajout">Ajouter un enseignant</a>
    <a href="/SAE_GA/index">Accueil</a>
</footer>
</article>

{% endblock %}


