{% extends "SAE_GA/main.html" %}

{% block title %}Affichage {{absence.etudiant}}{% endblock %} {% block content %}
   <article>
      <p>Absence de {{absence.etudiant}} au cours de {{absence.cours}}.</p>
      {% if absence.accepte == True %}
               <p>L'absence est excusée.</p>
        {% else %}
               <p>L'absence n'est pas excusée.</p>
        {% endif %}
      <p>Justification : {{absence.justification}}</p>
      <footer class="crud"><a href="/SAE_GA/Absence/accueil">Liste des absences</a></footer>
   </article>
{% endblock %}