{% extends "SAE_GA/main.html" %}

{% block title %} Formulaire d'importation des absences {% endblock %} {% block content %}
    <article>
        <h1>Importer des Absences</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Importer</button>
        </form>
    </article>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
