{% extends "SAE_GA/main.html" %}

{% block title %} Page d'accueil des groupes d'étudiants {% endblock %} {% block content %}
<h1>Bienvenue sur la page d'accueil des groupes d'étudiants</h1>
<article>
<ol>
    {% for l in liste %}
        <li>
            {{l}} 
            <div>
                <a href="/SAE_GA/Groupe/affiche/{{l.id}}">Afficher</a>
                <a href="/SAE_GA/Groupe/update/{{l.id}}">Modifier</a>
                <a href="/SAE_GA/Groupe/delete/{{l.id}}">Supprimer</a>
            </div>
        </li>
    {% endfor %}

</ol>
<footer>
    <a href="/SAE_GA/Groupe/ajout">Ajouter un groupe étudiants</a>
    <a href="/SAE_GA/index">Accueil</a>
</footer>
</article>

{% endblock %}
