{% extends "SAE_GA/main.html" %}

{% block title %} Accueil {% endblock %} {% block content %}
  
<article class="aside">
    <h2>Bienvenue sur l'accueil du site de gestion d'absences de Fritschy Mathéo et Saleiro David</h2>
    <p>Sur ce site, vous pourrez gérer les absences !</p>
</article>
<section class="container-articles">
    <article class="container">
        <p>Tous les boutons du site</p>
    </article>
    <article class="container">
        <p>Tous les boutons du site</p>
    </article>
    <article class="container">
        <p>Tous les boutons du site</p>
    </article>
    <article class="container">
        <p>Tous les boutons du site</p>
    </article>
</section>

{% endblock %}