{% extends "SAE_GA/main.html" %}

{% block title %} Accueil {% endblock %} {% block content %}

<section class="container-articles">
    <article class="aside">
        <h2>Accueil site de gestion d'absences</h2>
        <p>A droite, retrouvez les différentes actions du site :</p>
        <ol>
            <li>Voir la liste des enseignants, étudiants ainsi que les groupes d'étudiants. Vous pouvez également visualiser les informations de ces derniers</li>
            <li>Voir les différents cours ainsi qu'en ajouter.</li>
            <li>Ajouter des absences à un élève après l'avoir choisi dans la liste</li>
            <li>Générer la liste des absences liées à un étudiant ou à un cours</li>
        </ol>
    </article>
    <section class="container-articles" id="right">
        <article class="container">
            <h2>Listes :</h2>
            <ol>
                <li><a href="/SAE_GA/Enseignant/accueil">Enseignants</a></li>
                <li><a href="/SAE_GA/Etudiant/accueil">Etudiants</a></li>
                <li><a href="/SAE_GA/Groupe/accueil">Groupes d'étudiants</a></li>
            </ol>
        </article>
        <article class="container">
            <h2>Les cours :</h2>    
            <div class="bouton">
                <a href="/SAE_GA/Cours/accueil">Voir les cours</a>
                <a href="/SAE_GA/Cours/ajout">Ajouter un cours</a>
            </div>
        </article>
        <article class="container">
            <h2>Ajouter une absence à un élève :</h2>
            <a class="bouton" href="/SAE_GA/Etudiant/accueil">Choisir dans la liste</a>
        </article>
        <article class="container">
            <h2>Voir la liste des absences liées à :</h2>
            <div class="bouton">
                <a href="/SAE_GA/Etudiant/accueil">Un etudiant</a>
                <a href="/SAE_GA/Cours/accueil">Un cours</a>
            </div>
        </article>
    </section>
</section>

{% endblock %}