{% extends "SAE_GA/main.html" %}

{% block title %} Accueil {% endblock %} {% block content %}

<section class="container-articles">
    <article class="aside">
        <h2>Membres de l'établissement :</h2>
            <ol>
                <li><a href="/SAE_GA/Enseignant/accueil">Enseignants</a></li>
                <li><a href="/SAE_GA/Etudiant/accueil">Etudiants</a></li>
                <li><a href="/SAE_GA/Groupe/accueil">Groupes d'étudiants</a></li>
            </ol>
    </article>
    <section class="container-articles" id="right">
        <article class="container">
            <h2>Accueil site de gestion d'absences</h2>
        <p>Sur notre site vous porrez :</p>
        <ol>
            <li>Juste à gauche, voir la liste des enseignants, étudiants ainsi que les groupes d'étudiants et visualiser les informations de ces derniers.</li>
            <li>A droite, voir les différents cours ainsi qu'en ajouter.</li>
            <li>Ajouter des absences à un élève après l'avoir choisi dans la liste ci dessous.</li>
            <li>Générer la liste des absences liées à un étudiant ou à un cours après l'avoir choisi dans la liste des étudiants en bas à droite.</li>
        </ol>
        </article>
        <article class="container">
            <h2>Cours :</h2>    
            <ol>
                <li><a class="bouton" href="/SAE_GA/Cours/accueil">Voir les cours</a></li>
                <li><a class="bouton" href="/SAE_GA/Cours/ajout">Ajouter un cours</a></li>
            </ol>
        </article>
        <article class="container">
            <h2>Ajouter une absence à un élève :</h2>
            <lo>
                <li><a class="bouton" href="/SAE_GA/Etudiant/accueil">Choisir dans la liste</a></li>
            </lo>
        </article>
        <article class="container">
            <h2>Voir les absences :</h2>
            <ol>
                <li><a class="bouton" href="/SAE_GA/Absence/accueil">Toutes les absences</a></li>
                <li><a class="bouton" href="/SAE_GA/Etudiant/accueil">Choisir celles d'un etudiant</a></li>
                <li><a class="bouton" href="/SAE_GA/Cours/accueil">Choisir celles d'un cours</a></li>
            </ol>
        </article>
    </section>
</section>

{% endblock %}