/*------------ Base ------------*/

*{
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html, body{
    height: 100%;
}

#content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #ffffff;
}

body{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

main{
    width: 80%;
    margin: 0px auto;
    padding-inline: 0px;
    padding-block: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
}

h1{
    color: #ff2020;
}

h2{
    text-align: center;
    color:#4e4c4a;
}

h3,h4{
    align-self: flex-start;
    margin: 4px;
}

nav{
    background-color: #015cc4;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-align: center;
    text-decoration: solid;
}

a:hover{
    text-decoration: underline;
    color: #ff2020;
}

img.etudiant{
    width: 64px;
    height: auto;
}

.crud{
    background-color: #4e4c4a;
    padding-inline: 6px;
    padding-block: 2px;
    border-radius: 6px;
}

img.affiche{
    width: 256px;
    height: auto;
}

li{
    margin-block-end: 12px;
    list-style: none;
}

ol{
    align-self: flex-start;
}

/*------------ Articles ------------*/


article{
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 12px;
    background-color:rgb(92, 169, 233) ;
}

article.aside{
    float: left;
    width: calc(20% / 0.7 - 10px);
    margin-left: 0px;
    flex-grow: 1;
    margin: 5px;
}

article.container{
    flex-basis: calc(50% - 10px);
}

article.container li,article.container a{
    color: #ffffff;
    text-align: start;
}

a.bouton{
    background-color: #4e4c4a;
    border-radius: 8px;
    padding: 5px;
    margin-block-end: 6px;
}

.container-articles{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    flex-grow: 1;
}

#right{
    width: calc(50% / 0.7);
}

article footer{
    align-self: center;
    margin: 5px;
    padding: 6px;
    padding-inline: 8px;
}

footer#fin{
    background-color: #4e4c4a;
    padding: 5px;
    padding-inline: 25px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}